@import "./constants";
@import "./variables";

.app__hero {
  width: 100%;
  padding: 0 10%;
  transition: all $trans;

  header {
    width: 100%;
    height: 70px;
    @include flexAlign;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      ul {
        @include flexDirection(row);
        @include flexAlign;
        gap: $gap;

        .cta {
          @include button;
          background: var(--g-color);
          @include flexCenter;
          color: whitesmoke;
          border-radius: 10px 30px;
          padding: 0 $gap;
        }

        .theme__switcher {
          height: 50px;
          width: 50px;
          cursor: pointer;
          svg {
            transition: $trans;
          }
        }
      }
    }
  }

  footer {
    padding: $gap;
    text-align: center;
  }

  .hero {
    height: calc(100vh - 70px);
    padding-top: 5rem;
    @include flexDirection(row);
    gap: $gap;

    .left__hero {
      flex: 1;
      padding-top: 5rem;
      @include flexDirection(column);
      gap: $sm-gap;

      h1 {
        font-size: 3rem;
      }

      a {
        margin-top: $gap;
        @include button;
        background: var(--g-color);
        @include flexCenter;
        color: whitesmoke;
        border-radius: 10px 30px;
        padding: 0 $gap;
        width: fit-content;
      }
    }

    .right__hero {
      flex: 1;

      img {
        border-radius: 20px 10rem;
        width: 100%;
        height: 80%;
        object-fit: cover;
      }
    }
  }

  .features {
    height: fit-content;
    @include flexDirection(column);
    gap: $gap;
    padding: 4rem;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap;
    width: 60%;
    align-self: center;

    div {
      background: white;
      padding: $sm-gap;
      transition: $trans;
      border-radius: 5px;
    }
  }

  .pricing {
    height: fit-content;
    @include flexDirection(column);
    gap: $gap;
    padding: 4rem;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
    }
  }
}

h2 {
  font-size: 3rem;
  text-align: center;
}
.hero,
.features,
.pricing,
.contact {
  opacity: 0;
  transform: translateY(50px);
}

.hero {
  animation: fadeInUp 0.5s ease 0.2s forwards;
}

.features {
  animation: fadeInUp 0.5s ease 0.4s forwards;
}

.pricing {
  animation: fadeInUp 0.5s ease 0.6s forwards;
}

.contact {
  animation: fadeInUp 0.5s ease 0.8s forwards;
}

.cta-button,
button[type="submit"] {
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 100%;
  }
}

.app__hero.dark {
  background: #17181c;

  color: whitesmoke;

  ul > div {
    background: #1e1f23;
  }
}
