@import "./constants";
@import "./variables";

.app__post {
  @include flexDirection(row);
  width: 100%;

  .notFound__container {
    @include flexDirection(column);
    // gap: $gap;
    width: 75%;
    @include flexCenter;
    img {
      width: 80%;
    }
  }

  .post__container {
    @include flexDirection(column);
    gap: $gap;
    // @include flexCenter;

    .poster__container {
      width: 90%;
      height: 80%;
      background: var(--primary-color);
      border: var(--border);
      margin: 0 auto;
      border-radius: $gap;
      overflow: hidden;
      @include flexDirection(row);
      box-shadow: var(--shadow);

      .left__poster {
        flex: 1;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: top;
        }

        border-right: var(--border);
      }

      .right__poster {
        flex: 1;

        position: relative;

        .poster__header {
          @include flexAlign;
          @include flexBetween;
          padding: $sm-gap;
          border-bottom: var(--border);

          .user {
            @include flexAlign;
            gap: $sm-gap;
            img {
              @include userProfile;
            }
          }

          a {
            @include button;
            color: whitesmoke;
            cursor: pointer;
            background: var(--g-color);
            @include flexCenter;
            border-radius: 8px;
          }

          svg {
            font-size: $gap;
            cursor: pointer;
          }
        }

        .poster__desc {
          padding: $sm-gap;
          overflow-y: auto;
          height: 58vh;

          @include flexDirection(column);

          gap: $sm-gap;

          p {
            display: flex;
            gap: 0.5rem;

            img {
              @include postProfile;
            }
          }

          .post__comments {
            @include flexDirection(column);

            gap: $sm-gap;

            li {
              @include flexAlign;
              gap: 0.5rem;

              img {
                @include postProfile;
              }
            }
          }
        }

        .poster__comment {
          position: absolute;
          bottom: 0;
          @include flexDirection(row);
          gap: $sm-gap;
          width: 100%;
          padding: $sm-gap;
          border-top: var(--border);
          background: var(--primary-color);

          img {
            @include userProfile;
          }

          .input__container {
            background: var(--secondary-color);
            @include flexAlign;
            flex: 1;
            padding-right: $sm-gap;
            border-radius: 8px;

            input {
              @include input;
              flex: 1;
              color: var(--text-color);
            }
          }

          button {
            @include button;
            color: whitesmoke;
            background: var(--g-color);
            border-radius: 8px;
          }

          .layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(12, 12, 12, 0.369);
            color: whitesmoke;
            @include flexCenter;
          }
        }
      }
    }
  }
}
